body{
	overflow-x: hidden;
}

.auth-page{
	background: #ffffff;
	height: 100%;
}

.auth-container {
	padding-top: 5%;
	width: 50%;
	margin: auto;
}
.auth{
	width: 400px;
	margin: auto;
	padding: 5%;
	border-radius: 5px;
	border: solid 1px #0000003d;
}

.auth-header-btn{
	width: 49%;
	background:#FF0000;

}

.create-btn{
	width: 50%;
	background:#FF0000;
}

.delete-btn{
	width: 15%;
	background:#FF0000;
	float: right;
}

.login,
.register {
	padding: 1.5%;
	border: #FF0000;
}

.btn-primary{
background:#FF0000;
border: #FF0000;
}


.home-header {
	width: 100%;
	height:100px;
	padding: 1% 1% 1% 1%;
	background: #FF0000;
	margin-bottom: 20px;
	color: #ffffff;
}

.home-body {
	width: 100%;
	height:85%;
}

.logout-user{
	float: right;
	margin-top: -2%;
	cursor: pointer;
}

.message-container{
	padding: 20px 0px 20px 20px;
	background-color: rgba(255, 255, 255, 0.80);
	margin: 10px 0px 10px 10px;
	border-radius: 5px;
	border-color: #FF0000;
}

.message-thread {
	overflow-y: scroll;
	list-style-type: none;
	height: 400px;
	width: 100%;
	border: solid 1px #BDBDBD;
	margin: 0px !important;
	padding: 5px !important;
}
	
.message-thread li {
	max-width: 300px;
	border-color: solid 0.5px rgba(0, 0, 0, 0.32);
	clear: both;
	text-decoration: none;
	list-style-type: none;
	margin: 20px 10px 0px 20px;
	float: left;
	margin-right: 20px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 350px;
	border-radius: 5px;
	border:solid 2px #FF0000;
	background-color: rgba(255, 255, 255, 0.80);
	line-height: 1.4;
	word-wrap: break-word;
	color: #444444;
	text-align: left;
}


.align-left {
	float: left !important;;
}
.align-right {
	float: right !important;;
}

.message-text{
	margin-top: 1%;

}


.chat-list-container {
	padding: 20px 20px 20px 0px;

}

.chat-list-heading {
	margin: 10px 10px 10px 0px;
}

.chat-list{
	overflow-y: scroll;
	height: 400px;
	width: 100%;
	margin: 10px 10px 10px 0px;
	padding-right: 20px;
}

.chat-list li{
	cursor: pointer;

}

.chat-list li:hover {
    background:#FF0000;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index:2;
  background-color:#FF0000;
  border-color:#FF0000;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {background: #bbb;}
